node_modules/
**/.next
**/.next/**
**/.next-cache
**/.next-cache/**
**/.next-dev-cache
**/.next-dev-cache/**
**/.next-production-cache
**/.next-production-cache/**
**/.next-stale-build-cache
**/.next-stale-build-cache/**
out/
dist/
storybook-static/
*.log
.env*
!.env.example
.creds/

# Tooling and caches
.turbo/
.DS_Store
coverage/
*.tsbuildinfo
next-env.d.ts
.vercel/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
